
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex</title>
  <!-- CLASSE PAI -->
  <link rel="stylesheet" href="../../../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />
</head>
<body>

  <div class="container">
    <h1>Pokedex</h1>
    <ul data-js="pokedex" class="pokedex"></ul>
  </div>

  <script src="../../../public/scripts.js"></script>
</body>
</html>
